{% extends "base.html" %}

{% block content %}
    <!-- Page Title -->
    <!--<div class="page-title" data-aos="fade">-->
    <div class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>List of Lab Tests</h1>
                        <p class="mb-0">Grace Clinic has a wide range of Lab tests available</p>
                        <p class="mb-0">Click on Lab Tests for details.</p>
                    </div>
                </div>
            </div>
      </div>      
    </div><!-- End Page Title -->
    <!--<section id="contact" class="contact section">-->
        <table class="table table-striped table-dark">
            <thead class="table-header-cus">
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Description</td>                    
                    <td>Charges (Rs)</td>
                    <td>Discount</td>
                    <td>Discounted Charges</td>
                </tr>
            </thead>
            <tbody onload="getDiscountedCharges()">
                {% for labtest in labtests %}
                <tr>                    
                    <td><p>{{ labtest.test_id }}</p></td>
                    <td><p>{{ labtest.test_name }}</p></td>
                    <td><p>{{ labtest.test_description }}</p></td>
                    <td id="c">{{ labtest.charges }}</td>
                    <td id="d">{{ labtest.discount }}</td>
                    <td><p>{{ labtest.charges }} * {{ labtest.discount }}</p></td>
                    <!--<td><a href="appointment.html" class="btn-get-started">Book an appointment<br></a></td>-->
                </tr>                
                {% endfor %}
            </tbody>
        </table>
        <p style="color:red;">
            Lab Test count: {{ labtests | length }}
        </p>
        <script type="text/javascript">
            function getDiscountedCharges(){
            var c = document.getElementById('c').innerHTML;
            var d = document.getElementById("d").innerHTML;
            c = parseInt(c);
            dc = parseInt(c) - (parseInt(c) * parseInt(d)/100);
            //alert(d);
            }



        </script>
    <!--</section>-->
    <!--</main>-->
<!--</body>-->
{% endblock %}
