.banner{
    border-width:0;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:20%;
    z-index:2;
    position: absolute;    
}
#Breadcrumb2
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px #C0C0C0 solid;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   text-align: left;
   position:absolute;   
   top:20.25%;
   width:30%;
   height:4%;
   z-index:5;
   vertical-align:top;
}
#Breadcrumb2 > li
{
   display: inline-block;
   font-size: 16px;
}
#Breadcrumb2 a
{
   color: #337AB7;
   text-decoration: none;
}
#Breadcrumb2 a:hover
{
   color: #23527C;
   text-decoration: underline;
}
#Breadcrumb2 > .active
{
   color: #777777;
}
#Breadcrumb2 > li + li:before
{
   content: "/";
   padding: 0 5px;
   color: #C0C0C0;
}
table{
    position:relative;
    left:0%;
    top:30%;
    width:90%;
    height:auto;
    z-index:1;
    margin-right: 5%;
    background-color: #FFFFFF;
}
.table-header{
    background-color: lightgray;    
    background-repeat: repeat-x;
    background-position: left top;
    border: 1px #FFF8DC solid;
    text-align: left;
    vertical-align: top;
    width: 100%;
    height: 1%;
}
form{
    position:absolute;
    left:0%;
    top:30%;
    width:90%;
    height:auto;
    z-index:2;
    margin-right: 5%;
    background-color: #FFFFFF;
}
.pfooter{
    background-color: #FFF8DC;
    background-image: none;
    border: 2px #0000FF solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:absolute;
    overflow:hidden;
    text-align:left;
    left:0px;
    top:796px;
    width:100%;
    height:104px;
    z-index:6;
}
.footertext{
   border: 0px #0000FF solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: top;
   position:absolute;
   left:-1px;
   top:13px;
   width:961px;
   height:67px;
   line-height:67px;
   z-index:0;
}
.btn-back{
    position:absolute;
    left:822px;    
    width:96px;
    height:25px;
    z-index:2;
}
